/*!
 * v0.0.1
 * Miller ( sljzdotcom@gmail.com )
 * @sljzdotcom
 */


/* ##############   Common   ##############*/
.bottom-shadow {
	position:absolute;
	background:url(../images/bottom-shadow.png) repeat-x scroll 0 0;
	height:4px;
	width:100%;
	top:496px;
	left:0;
	z-index:200;
	opacity:0.5;
}
.bottom-bar {
	width:100%;
	height:6px;
	background-color: #e95504;
}
.fa-margin {
	margin-right:8px;
}
.brand-image {
	width: 390px;
    height:auto;
}
.hrClass {
	height:1px;
	border:none;
	border-top:1px solid #bbbbbb;
}
.custom-navbar-chineseenglish {
	font-size:15px;
}



/* ##############   Stickmenu（初始样式）   ##############*/
.stickmenu {
	background: rgba(255, 255, 255, 0.5) !important;
	/*background: rgba(17, 17, 17, 0.6) !important;*/
	filter:Alpha(opacity=90);
	width:100%;
	height:40px;
	z-index: 9999999;
	position: absolute;
}
.stickmenu p {
	font-size: 16px;
	line-height: 40px;
	color:black;
	font-weight: bold;
	/*font-family: "微软雅黑", "Heiti SC", "Arial";*/
}
.stickmenu p a:link {color: #0d0d0d;display:block;text-decoration: none;}
/*.stickmenu p a:link {color: #f9f9f9;display:block;text-decoration: none;}*/
.stickmenu p a:visited {color:#0d0d0d;display:block;}
.stickmenu p a:hover {background-color: white;color:black;display:block;}
.stickmenu p a:active {color:#0d0d0d;display:block;}


/* ##############   Stickmenu（滚动后样式）   ##############*/
.stickmenuNew {
	background: rgba(36, 36, 36, 0.5) !important;
	/*background: rgba(17, 17, 17, 0.6) !important;*/
	filter:Alpha(opacity=90);
	width:100%;
	height:40px;
	z-index: 9999999;
	position: absolute;
}
.stickmenuNew p {
	font-size: 16px;
	line-height: 40px;
	color:white;
	font-weight: bold;
	/*font-family: "微软雅黑", "Heiti SC", "Arial";*/
}
.stickmenuNew p a:link {color:white;display:block;text-decoration: none;}
.stickmenuNew p a:visited {color:white;display:block;}
.stickmenuNew p a:hover {background-color: white;color:black;display:block;}
.stickmenuNew p a:active {color:white;display:block;}




/* ##############   About Us   ##############*/
.aboutusContainer {
	margin-bottom: 85px;
	margin-top:50px;
}
.aboutus {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.aboutusChinese {
	color: #e95504;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.aboutusContent {
	margin-top:40px;
	font-size:18px;
	margin-left:25px;
	margin-right:25px;
}



/* ##############   Product   ##############*/
.productContainer {
	margin-bottom: 85px;
	background-color: #e8eaeb;
}
.productTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:85px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.productChinese {
	color: #e95504;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.productContent{
	margin-top:40px;
	margin-bottom: 85px;
	font-size:18px;
}
.productDetail {
	float:left;
	background-color: black;
	display:block;
	width:50%;
}
.productItem1 {
	position: relative;
	overflow: hidden;
	width: 236px;
	height:236px;
	float:left;
}
.productItem1 img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.productItem1:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.productItem2 {
	position: relative;
	display:block;
	background-color: white;
	overflow: hidden;
	width: 236px;
	height:236px;
	float:left;
}

/* ##############   News   ##############*/
.newsContainer {
	margin-bottom: 85px;
}
.news {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.newsChinese {
	color: #e95504;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.newsContent{
	margin-top:40px;
	font-size:18px;
	line-height:40px;
	margin-left:18px;
	margin-right:30px;
}


/* ##############   Contact Us   ##############*/
.contactusContainer {
	margin-bottom: 85px;
	background-color: #e8eaeb;
}
.contactusTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:85px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.contactusChinese {
	color: #e95504;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.contactusContent{
	margin-top:40px;
	margin-bottom: 85px;
	font-size:18px;
}
.contactus img {
	margin-right:6%;
	margin-left:6%;
}
.contactus a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: opacity 0.5s linear;
}

/* ##############   Link Us   ##############*/
.linkusContainer {
	margin-bottom: 85px;
}
.linkusTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.linkusChinese {
	color: #e95504;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.linkusContent{
	margin-top:40px;
	margin-bottom: 45px;
	font-size:18px;
}
.linkus img {
	margin-top:10px;
	margin-right:3%;
	margin-left:3%;
}




/* ##############   Copyright   ##############*/
.bottom-container {
	width:100%;
	background-color: #4d4a49;
	color:white;
	font-size:12px;
	line-height: 12px;
}
.bottom-content {
	margin-top: 36px;
}
.bottom-copyright {
	margin-top:42px;
}
.bottom-code {
	margin-top:24px;
}
.bottom-logo {
	/*margin-top:36px;*/
}
.bottom-logo img {
	width:85%;
}
.bottom-text p {
	line-height:18px;
	font-size:13px;
}

