/*!
 * v0.0.1
 * Miller ( sljzdotcom@gmail.com )
 * @sljzdotcom
 */


/* ##############   Common   ##############*/
.bottom-shadow {
	position:absolute;
	background:url(../images/bottom-shadow.png) repeat-x scroll 0 0;
	height:4px;
	width:100%;
	top:496px;
	left:0;
	z-index:200;
	opacity:0.5;
}
.bottom-bar {
	width:100%;
	height:6px;
	background-color: #e95504;
}
.fa-margin {
	margin-right:8px;
}
.brand-image {
	width: 390px;
    height:auto;
	margin-top:20px;
}
.hrClass {
	height:1px;
	border:none;
	border-top:1px solid #bbbbbb;
}
.hrClassText {
	height: 35px;
	width:100px;
	margin:0 auto;
	position: relative;
	display:block;
	top: -34px;
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	background-color: #fff;
}
.swiper-button-prev {display:none;}
.swiper-button-next {display:none;}


/* ##############   Navbar   ##############*/
.navbarContainer {
	margin: 0 auto;
	width:90%;
}
.custom-navbar-chineseenglish {
	font-size:12px;
}
.custom-navbar-chineseenglish a:link {color: #000;text-decoration: none;}
.custom-navbar-chineseenglish a:visited {color:#000;text-decoration: none;}
.custom-navbar-chineseenglish a:hover {color: #74523a;text-decoration: none;}
.custom-navbar-chineseenglish a:active {color:#000;}

.navbar-search {
	width:181px;
	height:30px;
	background: url('../images/search-back.jpg') no-repeat;
	position:relative;
}
.navbar-search img {
	position:absolute;
	margin-left:-1px;
	margin-top:4px;
}
.searchTextbox {
	border:0;
	width:100px;
	margin-left:33px;
	font-size:13px;
	line-height:13px;
}

/* ##############   Stickmenu（初始样式）   ##############*/
.stickmenu {
	background: rgba(255, 255, 255, 0.6) !important;
	filter:Alpha(opacity=90);
	width:100%;
	height:50px;
	z-index: 9999999;
	position: absolute;
	margin-top:-12px;

}
.stickmenuitem {
	font-size: 17px;
	line-height: 50px;
	color:black;
	/*font-weight: bold;*/
	/*font-family: "微软雅黑", "Heiti SC", "Arial";*/
}
/*20161121 注释掉原先效果，修改成只文字变色*/
/*.stickmenu p a:link {color: #0d0d0d;display:block;text-decoration: none;}*/
/*.stickmenu p a:visited {color:#0d0d0d;display:block;}*/
/*.stickmenu p a:hover {background-color: white;color:black;display:block;}*/
/*.stickmenu p a:active {color:#0d0d0d;display:block;}*/
/*.stickmenuitem {color:black;}*/
.stickmenuitem a:link {color: #0d0d0d;text-decoration: none;}
.stickmenuitem a:visited {color:#0d0d0d;text-decoration: none;}
.stickmenuitem a:hover {color: #74523a;text-decoration: none;}
.stickmenuitem a:active {color:#0d0d0d;}


/* ##############   Stickmenu（滚动后样式）   ##############*/
.stickmenuNew {
	background: rgba(36, 36, 36, 0.5) !important;
	filter:Alpha(opacity=90);
	width:100%;
	height:50px;
	z-index: 9999999;
	position: absolute;
}
.stickmenuNew div {
	font-size: 17px;
	line-height: 50px;
	color:white;
	/*font-weight: bold;*/
	/*font-family: "微软雅黑", "Heiti SC", "Arial";*/
}
/*20161121 注释掉原先效果，修改成只文字变色*/
/*.stickmenuNew p a:link {color:white;display:block;text-decoration: none;}*/
/*.stickmenuNew p a:visited {color:white;display:block;}*/
/*.stickmenuNew p a:hover {background-color: white;color:black;display:block;}*/
/*.stickmenuNew p a:active {color:white;display:block;}*/
.stickmenuNew a:link {color:white;text-decoration: none;}
.stickmenuNew a:visited {color:white;text-decoration: none;}
.stickmenuNew a:hover {color: #d3b05d;text-decoration: none;}
.stickmenuNew a:active {color:white;}



/* ##############   About Us   ##############*/
.aboutusContainer {
	margin-bottom: 85px;
	margin-top:50px;
}
.aboutus {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.aboutusChinese {
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.aboutusContent {
	margin-top:40px;
	font-size:14px;
}



/* ##############   Product   ##############*/
.productContainer {
	margin-bottom: 85px;
	background-color: #e8eaeb;
}
.productTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:85px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.productChinese {
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.productContent{
	margin-top:40px;
	margin-bottom: 85px;
	font-size:18px;
	position: relative;
	z-index:1;
}
.productDetail {
	float:left;
	background-color: black;
	display:block;
	width:50%;
}
.productItem1 {
	position: relative;
	overflow: hidden;
	width: 284px;
	height:284px;
	float:left;
	z-index: 10;
}
.productItem1 img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.productItem1:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.productItem2 {
	position: relative;
	display:block;
	background-color: white;
	overflow: hidden;
	width: 284px;
	height:284px;
	float:left;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.productItem2SmallArrow1{
	position:absolute;
	margin-left:264px;
	margin-top:130px;
	z-index:999;
}
.productItem2SmallArrow2{
	position:absolute;
	margin-left:832px;
	margin-top:130px;
	z-index:999;
}
.productItem2SmallArrow3{
	position:absolute;
	margin-left:284px;
	margin-top:130px;
	z-index:999;
}
.productItem2SmallArrow4{
	position:absolute;
	margin-left:852px;
	margin-top:130px;
	z-index:999;
}
.productItem2:hover {
	cursor:pointer;
}
.productItem2Arrow {
	margin-top:45px;
	color:#74523a;
	display:none;
}
.productItem2Title {
	color:red;
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	margin-top:80px;
	-webkit-transition: margin 0.5s ease-out;
	-moz-transition: margin 0.5s ease-out;
	-khtml-transition: margin 0.5s ease-out;
}
.productItem2Text {
	color: #353535;
	font-size:14px;
	line-height:18px;
	margin:20px;
}



/* ##############   News   ##############*/
.newsContainer {

}
.news {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.newsChinese {
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.newsContent{
	margin-top:40px;
	font-size:14px;
	line-height:32px;
	margin-right:15px;
}


/* ##############   Contact Us   ##############*/
.contactusContainer {
	margin-bottom: 85px;
	background-color: #e8eaeb;
}
.contactusTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:85px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.contactusChinese {
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.contactusContent{
	margin-top:40px;
	margin-bottom: 85px;
	font-size:18px;
}
.contactus img {
	margin-right:6%;
	margin-left:6%;
}
.contactus a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: opacity 0.5s linear;
}


/* ##############   Link Us   ##############*/
.linkusContainer {
	margin-bottom: 85px;
}
.linkusTitle {
	color: black;
	font-size: 26px;
	font-weight: bold;
	margin-top:25px;
	font-family: "微软雅黑", "Heiti SC", "Arial";
}
.linkusChinese {
	color: #BE9C59;
	font-size: 22px;
	font-weight: bold;
	margin-top:-20px;
}
.linkusContent{
	margin-top:40px;
	margin-bottom: 45px;
	font-size:18px;
}
.linkusimg {
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
}




/* ##############   Copyright   ##############*/
.bottom-container {
	width:100%;
	background-color: #4d4a49;
	color:white;
	font-size:13px;
	line-height: 13px;
}
.bottom-content {
	margin-top: 36px;
}
.bottom-copyright {
	margin-top:87px;
}
.bottom-code {
	margin-top:24px;
}
.bottom-logo {
	/*margin-top:36px;*/
}
.bottom-logo img {
	width:85%;
}
.bottom-text{

}
.bottom-text p {
	line-height:17px;
	font-size:13px;
	margin-left:197px;
}
.bottom-text h2 {
	margin-left:197px;
}







/* #########################################   二级页面   #########################################*/


/* ##############   中间大图   ##############*/
.sectionBigPic {
	width:100%;
	height:450px;
	background-size: 100%;
	margin-top:-12px;
}

.custom-container {
	width:100%;
	background-color: white;
	margin-top:3em;
	margin-bottom:3em;
  }

.custom-container li {
	width:20%;
	display:block;
	float:left;
}
.custom-container img {
	width:40%;
}


/* ##############   中间内容   ##############*/
.TextContainer{
	width:100%;
	background-color: #ECECEC;
	font-size:14px;
}

.TextContainerLogo {
	width:350px;
	margin-bottom:54px;
}

.TextContainerContent {
	width:100%;
	height:100%;
	margin-bottom:84px;
}
.TextContainerContent li {
	width:25%;
	display:block;
	float:left;
}
.containerBanner {
	margin-top:84px;
	margin-bottom:84px;
}
.custom-iframe {
	background-color:transparent;
	margin-top:84px;
}
.enterpriceimage img {width:37%;}
.enterprice2Text {
	line-height:14px;
	font-size:14px;
	font-weight:bold;
}



.enterprice3Text {}
.enterprice3Text li {
	width:20%;
	display:block;
	float:left;
	margin-right:25px;
	border-radius: 15px;
	height:120px;
}
.enterprice3YesText {
	background-color: #BD9F53;
	font-size:17px;
	color:white;
	line-height:20px;
	/*font-weight:bold;*/
}
.enterprice3NoText {
	background-color: #E3DDD0;
}
.middle-box{display: table; height: 135px; border:0; width:100%; margin:0 auto; position:relative;}
.middle-inner{display: table-cell; vertical-align:middle; *position:absolute; *top:50%; *left:50%; width:100%; text-align:center;}
.middle-inner p{position:relative; *top:-50%; *left:-50%;}


/* ##############   产品   ##############*/

.ProductContainerBlock {
	width:100%;
	height:100%;
	margin-bottom:84px;
}
.custom-container1 {
	background-color: white;
	margin-top:3em;
	margin-bottom:3em;
}
.custom-container1 img {
	width:90px;
	margin-left:40px;
	margin-right:40px;
}

.productList {
	width:30%;
	height:460px;
	float:left;
	overflow: auto;
	line-height: 30px;
}
.productList h2 {
	font-size:20px;
	color:#E85600;
}
.productList img {
	margin-left:10px;
	margin-bottom:5px;
}
.productList a:link {color: #000;text-decoration: none;}
.productList a:visited {color:#000;text-decoration: none;}
.productList a:hover {color: #74523a;text-decoration: none;}
.productList a:active {color:#000;}
.linkactive {color: #74523a;text-decoration: none;font-weight: bold;font-size:15px;}

.productDetailBlock {
	width:70%;
	height:100%;
	overflow: hidden;
	/*margin-top:25px;*/
}
.productDetailContent {
	margin-left:30px;
}
.productDetailContentImg {
	float:left;
	margin-right:30px;
	width:250px;
	height:330px;
}
.detailTitle {
	font-size:18px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
}
.detailText {
	line-height:30px;
}
.detailHR {

}
.breadcrumb {font-weight: bold;}
.breadcrumb img {margin-bottom:3px;margin-right:5px;}



/* ##############   Contact   ##############*/
.contactContainer {
	margin-top:84px;
	margin-bottom:84px;

	text-align: left;
}
.contactTitle {
	margin-left:50px;
	font-size:18px;
	line-height:20px;
	font-weight: bold;
	width:100%;
	float:left;
	margin-bottom: 0.8em;
}
.contactText {
	margin-left:50px;
	font-size:15px;
	line-height:25px;
	float:left;
}




.productIframePingpai{
	margin-top:30px;
}
.table1-title {border-bottom: #9d9d9d 1px solid;line-height: 30px;font-weight: bold;font-size:16px;}
.table1-title img{margin-left:8px;margin-bottom:2px;}
.table1-content{line-height:16px;font-size:14px;}
.table1-content-left {border-bottom: #9d9d9d 1px solid;vertical-align: top;}
.table1-content-right {border-left: #9d9d9d 1px solid;border-bottom: #9d9d9d 1px solid;vertical-align: top;}
.table1-content-right p {margin-left:8px;}

.table2-th {border-left: #9d9d9d 1px solid;border-bottom:0;}